<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>DerPate</display-name>
	
	<!-- pages recognized as index -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Error page -->
	<error-page>
	    <location>/WEB-INF/page/error.jsp</location>
	</error-page>
	
	<!-- Servlets -->
	<!-- Login -->
	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>de.db.derPate.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <!-- Logout -->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>de.db.derPate.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- REST -->
    <servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>
		  org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
	      <param-name>jersey.config.server.provider.packages</param-name> 
	      <param-value>de.db.derPate.servlet.rest</param-value> 
	   </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Jersey REST Service</servlet-name>
	  <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>