.godfather-card {
	width: 18rem;
	float: left;
	margin: 5px;
}

.default {
	display: none;
}

.card-img-top {
	height: 180px;
    width: 100%;
    display: block;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.godfather-card-year:after {
	content: ". Lehrjahr";
}