@charset "UTF-8";
@font-face{
	font-family:Roboto;
 src: url("../bootstrap/fonts/Roboto-Regular.ttf");
}

#pate{
	text-align: center;
	font-family: roboto;
	color: #F2F2F2;
	margin-top: 5%;
	
}

body{
	background-color: #848484;
	
}

#login{
	margin-top:30%;
	
}

#spinner{
	visibility: hidden;
}


