@charset "UTF-8";
@font-face{
	font-family:Roboto;
 src: url("../bootstrap/fonts/Roboto-Regular.ttf");
}

#pate{
	text-align: center;
	font-family: roboto;
	color: #F2F2F2;
	margin-top: 1%;
	margin-bottom: 2%;
	
}



body{
	background-image: url("../../images/background.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	
}

#login{
	margin-top:20%;
	
}

#login>.form-signin>input{
	margin-bottom: 2%;
}

#spinner{
	visibility:hidden;
	z-index:10;
	margin-left:45%
	}