<?xml version = "1.0" encoding = "utf-8"?>
<!--

URL, USERNAME and PASSWORD can be found in the secret.properties file.
DO NOT UPLOAD THE secret.properties FILE INTO A PUBLICLY AVAILABLE SHARE!

 -->
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MariaDBDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         org.mariadb.jdbc.Driver
      </property>
      
      <property name="hibernate.current_session_context_class">
      	thread
      </property>
      
      <mapping class="de.db.derpate.model.Job" />
      <mapping class="de.db.derpate.model.Location" />
      <mapping class="de.db.derpate.model.TeachingType" />
      <mapping class="de.db.derpate.model.Admin" />
      <mapping class="de.db.derpate.model.Godfather" />
      <mapping class="de.db.derpate.model.Trainee" />
   </session-factory>
</hibernate-configuration>